@charset "utf-8";
/* CSS Document */
body{
	background-color: #0B166B;
	font-family: Verdana, "sans-serif";
	text-align: center;
	}
button{
	align-content: center;
	background-color: #FFFFFF;
	border: none;
	border-radius: 20px;
	padding: 100px 200px;
	text-align: center;
	font-size: 40px;
	transit: 0.4s;
	}
button:hover{
	background-color: #27282E;
	color: aliceblue;
}
h1{
	color: aliceblue;
	text-align: center;
	font-si: 30px;
	}

